/coverage
__pychache__/

dado-do-dia/
monitor
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/
.idea/
*.swp
*.swo
*~

/release
.env
.env.test
.env.production


busca/monitor.py
busca/analise_padroes.py